* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow-x: hidden;
}

body {
	max-height: 100%;
	background-color: #f5f5f5;
}

.store-body {
	margin: 5px 8%;
	background: #fff;
	-webkit-box-shadow: 1px 2px 4px #737373;
	display: flex;
	flex-direction: column;
}

.store-name {
	text-align: center;
	font-size: 3.7vw;
	letter-spacing: 50px;
	height: auto;
	padding: 3vw;
	margin: 0 auto;
}

.store-name h1 {
	font-family: 'Unica One', cursive;
	color: #00B0FF;
}

.store-body img {
	height: auto;
	width: 100%;
}


p {
	background: #000;
	opacity: .8;
	padding: 10px;
	color: #fff;
	letter-spacing: 3px;
	font-size: 2.5vw;
}

.store-bottom-bar table {
	width: 100%;
	text-align: center;
	padding: 0 250px;
}

footer {
	text-align: center;
	margin-bottom: 5px;
}

store-links {
	text-align: center;
}

ul {
	text-align: center;
	display: flex;
}

li {
	display: inline;
	margin: 0 auto;
	font-size: 4.5vw;
	border-bottom: solid 2px #fff;
}

a:link {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #BDBDBD;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

#l-button {
	width: 100%;
}

#l-button:hover {
	
}

#m-button {
	width: 100%;
}

#m-button:hover {
	border-bottom: solid 2px #00B0FF;
}

#m:hover {
	color: #00B0FF;
}

#k-button {
	width: 100%;
}

#k-button:hover {
	border-bottom: solid 2px #FF9100;
}

#k:hover {
	color: #FF9100;
}

a:hover {
	
}
.card {
	margin: 5px 8% ;
	background: #fff;
	-webkit-box-shadow: 1px 2px 4px #737373;
	display: flex;
	flex-direction: column;
	margin-bottom: 6px;
}

h6 {
	color: #e0e0e0;
}

.current-link {
	color: #00B0FF;
	border-bottom: solid 2px #00B0FF;
	width: 100%;
}

#m-link {
	color: #00B0FF
}