body {
	background-color: #FFEBEE;
}

.store-name h1 {
	color: #F50057;
}

#l-button {
	color: #F50057;
	border-bottom: solid 2px #F50057;
}

#m-button:hover {
	color: #00B0FF;
	border-bottom: solid 2px #00B0FF;
}

#k-button:hover {
	color: #FF9100;
	border-bottom: solid 2px #FF9100;
}

.item-button:hover {
  background-color: #F50057;
}
